.section-your-picks {
  /* margin-left: var(--spacing); */
  /* margin-right: var(--spacing); */
  background-color: var(--blue);
  border-radius: var(--radius);
  padding-bottom: var(--spacing);
  /* margin-bottom: calc(0.5 * var(--spacing)); */
}

.your-picks-heading {
  text-align: center;
}

.url-input {
  font-family: 'IBM Plex Mono', monospace;
}
