@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --spacing: 1.5em;
  --dark-gray: #424651;
  --light-gray: #e5e5e5;
  --pink: #af3b6e;
  --blue: #bce7fd;
  --radius: 10px;
  --placeholder-color: #424651;
  --placeholder-opacity: 0.35;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 2.6em;
  margin: 0;
  font-weight: 400;
  color: var(--dark-gray);
}

h2 {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  margin: 0;
  padding-top: calc(0.3 * var(--spacing));
  font-weight: 700;
  color: var(--dark-gray);
}

p {
  color: var(--dark-gray);
  font-size: 0.8em;
}

h2 + p {
  margin-top: 0;
  margin-botom: 1em;
  font-weight: 600;
  text-align: center;
}

input[type="text"],
select {
  border-radius: var(--radius);
  width: 400px;
  height: 40px;
  border: none;
  background-color: var(--light-gray);
  color: rgba(66, 70, 81, 0.5);
  line-height: normal;
  font-size: 1.3em;
  margin-left: var(--spacing);
}

.placeholder-indent {
  text-indent: 0.7em;
}

select {
  border-right: 16px solid transparent;
}

::placeholder {
  color: var(--placeholder-color);
  opacity: var(--placeholder-opacity);
}

:-ms-input-placeholder {
  color: var(--placeholder-color);
  opacity: var(--placeholder-opacity);
}

::-ms-input-placeholder {
  color: var(--placeholder-color);
  opacity: var(--placeholder-opacity);
}

