.navigation {
  margin-left: var(--spacing);
  margin-right: var(--spacing);
  background-color: var(--blue);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  margin-bottom: calc(0.5 * var(--spacing));
}

.flex-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: calc(0.3 * var(--spacing));
  margin-left: var(--spacing);
}

.logo-second-half {
  color: var(--pink);
  font-weight: 700;
}

.nav-items-parent {
  list-style: none;
  padding-left: calc(1.45 * 3 * var(--spacing));
  display: inline-flex;
  gap: 1em;
  margin-top: 0px;
  margin-bottom: calc(0.5 * var(--spacing));
}

.nav-items-parent > li > a {
  text-decoration: none;
  color: var(--dark-gray);
}

.comparison-tool-button {
  margin-left: auto; /* Right align button in nav bar */
  margin-right: var(--spacing);
  font-family: inherit;
  font-weight: 600;
  background-color: var(--pink);
  color: var(--light-gray);
  border: none;
  border-radius: var(--radius);
  font-size: 1.1em;
  padding: 0.5em 1em;
  cursor: pointer;
}
